
    /* font-family: 'Monoton', cursive;

    font-family: 'Special Elite', cursive; */




.redline{
    background-color: brown;
    height: 3px;
}

.image_outer_container{
    /* margin-top: auto;
    margin-bottom: auto; */
    border-radius: 50%;
    position: relative;
}

.image_inner_container{
    border-radius: 50%;
    padding: 5px;
 background: #833ab4; 
 background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
 background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.image_outer_container .green_icon{
  background-color: #4cd137;
  position: absolute;
}

.div1 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    font-size: 400%!important;
}



/*  
font-family: 'Montserrat', sans-serif;
*/

/* 
font-family: 'Montserrat', sans-serif;
*/

html{
   height: 100%;
   
}
body{
    background-color:rgb(0, 0, 0)!important;
}




/* header */
/* **************************************************************** */
/* **************************************************************** */


.navbar{
    background-color:rgb(20, 20, 20)!important;
}
.nav-link{
    color:white!important;
    font-weight: bold!important;
}



.container .navbar {
    background-color: rgb(228, 228, 228)!important;
}



.box1 {
    /* background-image:  url("/img/informatique.png");
    background-repeat: cover no-repeat;
    /* background-color:rgba(240, 240, 240, 0.514); */
    background-color:rgba(90, 72, 72, 0.267)!important; 
    
    height: 30em; 
}
.box1 h1{
   
    color:rgb(247, 247, 247);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    font-size: 400%!important;
}
.box1  h2{
    color:rgb(255, 255, 255);
    font-size: 400%!important;
    /* font-family: 'Montserrat', sans-serif!important; */
}

.box1   p{
    color:rgb(187, 110, 110);
    font-family: 'Montserrat', sans-serif!important;
}

#cat{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 10px;
}
/* **************************************************************** */
/* **************************************************************** */

.imgsection{
    width: 444px!important;
    height: 444px!important;
}



/* @import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap'); */
/* **************************************************************** */
/* **************************************************************** */
.box2-image{
    background-color: rgb(0, 0, 0)!important; 
}

.box2-image h2{
    color:rgb(255, 255, 255);
    font-size: 400%!important;
    /* font-family: 'Montserrat', sans-serif!important; */
    }

    




.box2{
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  margin: 1rem auto; 
}
/**Parametrage des img2**/
.image2{
   min-width: 60px;
   margin: 10px;
   cursor: pointer; /*cureur pointeur pour montrer que l'élément est cliquable avec la souris*/
   /**pour faire un effet de smooth*/
   transition: .7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
   /*overflow caché pour tout ce qui dépassera*/
   overflow: hidden;
   position: relative; /**pour mettre les élément an absolu par la suite à l intérieur**/
}
/**zoom de l image2 avec la classe active2**/
.image2.active2{
    flex-grow: 100;
    max-width: 600px; /**pour pas que l'image2 s'élargisse à l infini**/
    margin:0px;
    border-radius: 7px;
    background-size: auto 100%;
}
/**image NON ACTIVE grow à 1*/
.image2:not(.active2){
    flex-grow: 1;
    border-radius: 5px;
}
.text-container2{
    width: 100%; /**taille de son parent**/
    height: 400px; /**taille de son parent**/
    padding: 2rem;
    /* faire aparaitre le texte depuis le bas en le rendant de plus en plus opaque*/
    visibility: hidden; /**on le cache au départ**/
    transform: translateY(300px); /**on place le text en bas**/
    opacity: 0;
    transition: all .4s;
    background: linear-gradient(354deg, black 0%, 
    transparent 72%);
    color: white;
    overflow: hidden;
}
/**parametrage text2**/
.text2{
    position: absolute;
    bottom: 5rem;
}
.text2 p{
    color: white;
}
.active2 .text-container2{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
/* **************************************************************** */

.img-competence{
   width: 30px;
   height: 30px;
}

.img-competence-homme{
    width: 80%;
    height: 80%;
    border-radius: 20px;
 } 

.img-environement{
    width: 35px;
    height: 35px;
 }
/* **************************************************************** */
.my-env{
    border-bottom: blueviolet 2px solid;
}
.my-env-title {
    /* float: left; */
    /* width: 24%; */
    padding: 6px 4px;
    font-weight: 600;
    color:brown;
}

footer{
    background-color: black!important;
}

.navbar .mbr-iconfont {
	font-size: 2rem !important;
	color: #ffffff!important;
	margin: 1rem;
	padding-right: 1rem;
}



/* SECTION GALLERI */
.portfolio .img-rounded {
    width: 25%;
    margin: 20px 15px;
}

.portfolio .img-rounded:hover {
    transform: scale(1.20);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    opacity:0.7;
}   




.box-competence{
    background-color: rgb(227, 215, 236)!important;
    border-radius: 30px;
    
}



.skillbar .sb-name {
    float: left;
    background-color: #f5f5f5;
    color: brown;
    font-weight: 700;
    min-width: 20%;
    height: 100%;
    padding-left: 4px;
    padding-right: 2px;
    vertical-align: middle;
    border: 1px solid #eee;
        border-right-color: rgb(238, 238, 238);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.skillbar, .skillbar .sb-level {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}
.skillbar .sb-name{
    color:brown;
    margin-left: 0.9rem;
}
.skillbar  .progress {
    margin-top: 0.4rem;
    background-color: #d6e9f7;
    /* width: 95%!important; */
}


#attache{
    
    height: 100px;
    float: right;
    position: relative;
    bottom: 45px;
    right: 170px;
    z-index: 5;
  
    /* font-size: small; */
}

#attache2{
    
    height: 100px;
  
    position: relative;
    top: 45px;
    left: 180px;
    z-index: 5;
  
    /* font-size: small; */
}


.demotext {
    font-size: 2.8rem!important;
    color: #9a98a5;
    background: #000000;
    text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c70909 0px 0px 20px, #c20000 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #07024d;
    background: #000000;
        font-family: 'Monoton', cursive;

    font-family: 'Special Elite', cursive;
    }

    .demotext2 {
        color: #a59898;
        background: #000000;
        text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #0003b9 0px 0px 20px, #0d00c2 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
        color: #000000;
        background: #000000;
        }












/* ANIMATION */
/* https://www.theappguruz.com/tag-tools/web/CSSAnimations/ */



        .fadeInRight {
            -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes fadeInRight {
            0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            }
            100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            }
            }
            @keyframes fadeInRight {
            0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            }
            100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            }
            } 






            @-webkit-keyframes fadeInRight {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                }
                @keyframes fadeInRight {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                } 









                .bounceIn {
                    -webkit-animation-name: bounceIn;
                    animation-name: bounceIn;
                    -webkit-animation-duration: .75s;
                    animation-duration: .75s;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    }
                    @-webkit-keyframes bounceIn {
                    0%, 20%, 40%, 60%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    }
                    0% {
                    opacity: 0;
                    -webkit-transform: scale3d(.3, .3, .3);
                    transform: scale3d(.3, .3, .3);
                    }
                    20% {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    }
                    40% {
                    -webkit-transform: scale3d(.9, .9, .9);
                    transform: scale3d(.9, .9, .9);
                    }
                    60% {
                    opacity: 1;
                    -webkit-transform: scale3d(1.03, 1.03, 1.03);
                    transform: scale3d(1.03, 1.03, 1.03);
                    }
                    80% {
                    -webkit-transform: scale3d(.97, .97, .97);
                    transform: scale3d(.97, .97, .97);
                    }
                    100% {
                    opacity: 1;
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    }
                    }
                    @keyframes bounceIn {
                    0%, 20%, 40%, 60%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    }
                    0% {
                    opacity: 0;
                    -webkit-transform: scale3d(.3, .3, .3);
                    transform: scale3d(.3, .3, .3);
                    }
                    20% {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    }
                    40% {
                    -webkit-transform: scale3d(.9, .9, .9);
                    transform: scale3d(.9, .9, .9);
                    }
                    60% {
                    opacity: 1;
                    -webkit-transform: scale3d(1.03, 1.03, 1.03);
                    transform: scale3d(1.03, 1.03, 1.03);
                    }
                    80% {
                    -webkit-transform: scale3d(.97, .97, .97);
                    transform: scale3d(.97, .97, .97);
                    }
                    100% {
                    opacity: 1;
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    }}


                    .fade {
                        background-color: brown;
                        margin: 50px;
                        padding: 50px;
                        background-color: lightgreen;
                        opacity: 1;
                      }










































/* ************************************************************************* */
/* ************************************************************************* */
/* query smatphone */

@media all and (max-width: 1024px)
{

    .box1 {
        /* background-image:  url("/img/informatique.png");
        background-repeat: cover no-repeat;
        /* background-color:rgba(240, 240, 240, 0.514); */
        background-color:rgba(61, 44, 44, 0.267)!important; 
        height: 25em; 
    }
    .box1 h1{
      
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
        font-size: 250%!important;
    }
    
    #cat{
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }

    #imgbox1{
      margin-left:60%!important;
     /* margin-top: 63%!important; */
       height: 10em!important;
       width: 8em!important;
    }
    
    .card-img-overlay{
        margin-top: -10%!important;
    }

/* **************************************************************** */

.imgsection{
    width: 350px!important;
    height: 200px!important;
    /* margin-left: 20%;
    margin-top: 5%; */
}
/* **************************************************************** */
.box2-image{
    background-color:rgba(90, 72, 72, 0.267)!important; }

.box2{
  display: flex;
  min-width: 0px;
  max-width: 100vh;
  height: 270px;
  margin: 1rem auto; 
}
/**Parametrage des img2**/
.image2{
   min-width: 6px;
   margin: 3px;
   cursor: pointer; /*cureur pointeur pour montrer que l'élément est cliquable avec la souris*/
   /**pour faire un effet de smooth*/
   transition: .7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
   /*overflow caché pour tout ce qui dépassera*/
   overflow: hidden;
   position: relative; /**pour mettre les élément an absolu par la suite à l intérieur**/
}
/**zoom de l image2 avec la classe active2**/
.image2.active2{
    flex-grow: 100;
    max-width: 700px; /**pour pas que l'image2 s'élargisse à l infini**/
    margin:0px;
    border-radius: 5px;
    background-size: auto 100%;
}
/**image NON ACTIVE grow à 1*/
.image2:not(.active2){
    flex-grow: 1;
    border-radius: 5px;
}
.text-container2{
    width: 100%; /**taille de son parent**/
    height: 340px; /**taille de son parent**/
    padding: 0.4em;
    /* faire aparaitre le texte depuis le bas en le rendant de plus en plus opaque*/
    visibility: hidden; /**on le cache au départ**/
    transform: translateY(300px); /**on place le text en bas**/
    opacity: 0;
    transition: all .4s;
    background: linear-gradient(354deg, black 30%, 
    transparent 90%);
    color: white;
    overflow: hidden;
}
/**parametrage text2**/
.text2{
    position: absolute;
    bottom: 3.8rem;
}
.text2 p{
    color: white;
}
.active2 .text-container2{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.mbr-iconfont .fa, .fas  {
	font-size: 1rem !important;
	color: #250101!important;
	margin: 1rem;
	padding-right: 1rem;
}

/* SECTION GALLERI IMAGES MES SKILSS */
.portfolio .img-rounded {
    width: 50%;
    margin: 15px 10px;
}

.portfolio .img-rounded:hover {
    transform: scale(1.20);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    opacity:0.7;
}   




#attache{
    width: 80px;
    position: relative;
    bottom: 35px;
    right: 60px;
    z-index: 5;
    /* font-size: small; */
}

}
/* Fin paramètre média queries */


/* CSS SNIPET SKILL */
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    color: rgb(51, 38, 38);
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem}

















































    /* QUERIES */

    /* PETIT ECRAN SMARTPHONE */
    @media all and (max-width: 320px){
        #attache{
            width: 0px;
           
            position: relative;
            bottom: 0px;
            right: 0px;
            z-index: 5;
          
            /* font-size: small; */
        }

        #attache2{
    
            height: 0px;
          
            position: relative;
            top: 0px;
            left: 0px;
            z-index: 5;
          
            /* font-size: small; */
        }

        .demotext {
            font-size: 1.8rem!important;
            color: #9a98a5;
            background: #000000;
            text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c70909 0px 0px 20px, #c20000 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
            color: #07024d;
            background: #000000;
                font-family: 'Monoton', cursive;
        
            font-family: 'Special Elite', cursive;
            }


            .box-competence h3{
                font-size: 1.4rem!important;
            }
    }


    /* MOYEN ECRAN SMARTPHONE*/
    @media all and (max-width: 990px ){
        #attache2{
    
            height: 60px;
          
            position: relative;
            top: 35px;
            left: 110px;
            z-index: 5;
          
            /* font-size: small; */
        }

    }

    @media all and (max-width: 400px ){
        #attache2{
    
            height: 60px;
          
            position: relative;
            top: 35px;
            left: 40px;
            z-index: 5;
          
            /* font-size: small; */
        }

    }

    /* ECRAN TABLETTE */

    /* ECRAN PETIT PC */

    /* ECRAN CLASSIQUE */

    /* GRAND ECRAN */

    