/*  
font-family: 'Montserrat', sans-serif;
*/

/* 
font-family: 'Montserrat', sans-serif;
*/

html{
   height: 100%;
   
}

body{
    background-color:rgba(255, 255, 255, 0.514)!important;

}
/* header */

.logo{
    font-size: 10px!important;
    margin-left: 55px!important;
}

.container .navbar {
    background-color: rgb(85, 85, 85)!important;
}

.box1 {
    /* background-image:  url("/img/informatique.png");
    background-repeat: cover no-repeat;
    /* background-color:rgba(240, 240, 240, 0.514); */
    background-color:rgba(61, 44, 44, 0.267)!important; 
    height: 32em; 
}

.box1 h1{
    margin-top: 8%!important;
    color:rgb(92, 92, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    font-size: 400%!important;
}

.box1  h2, p{
    color:rgb(49, 49, 49);
    font-family: 'Montserrat', sans-serif!important;

}

/* @import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap'); */

.box2{
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  margin: 4rem auto;
}

/**Parametrage des img2**/
.image2{
   min-width: 60px;
   margin: 10px;
   cursor: pointer; /*cureur pointeur pour montrer que l'élément est cliquable avec la souris*/
   /**pour faire un effet de smooth*/
   transition: .7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
   /*overflow caché pour tout ce qui dépassera*/
   overflow: hidden;
   position: relative; /**pour mettre les élément an absolu par la suite à l intérieur**/
}

/**zoom de l image2 avec la classe active2**/
.image2.active2{
    flex-grow: 100;
    max-width: 600px; /**pour pas que l'image2 s'élargisse à l infini**/
    margin:0px;
    border-radius: 7px;
    background-size: auto 100%;

}

/**image NON ACTIVE grow à 1*/
.image2:not(.active2){
    flex-grow: 1;
    border-radius: 5px;
}

.text-container2{
    width: 100%; /**taille de son parent**/
    height: 400px; /**taille de son parent**/
    padding: 2rem;
    /* faire aparaitre le texte depuis le bas en le rendant de plus en plus opaque*/
    visibility: hidden; /**on le cache au départ**/
    transform: translateY(300px); /**on place le text en bas**/
    opacity: 0;
    transition: all .4s;
    background: linear-gradient(354deg, black 0%, 
    transparent 72%);
    color: white;
    overflow: hidden;
}
/**parametrage text2**/
.text2{
    position: absolute;
    bottom: 5rem;
}

.active2 .text-container2{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}




































/* ************************************************************************* */
/* ************************************************************************* */
/* query smatphone */

@media all and (max-width: 1024px)
{

    .box1 {
        /* background-image:  url("/img/informatique.png");
        background-repeat: cover no-repeat;
        /* background-color:rgba(240, 240, 240, 0.514); */
        background-color:rgba(61, 44, 44, 0.267)!important; 
        height: 25em; 
    }
    .box1 h1{
      
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
        font-size: 300%!important;
    }
    
    #imgbox1{
      margin-left:52%!important;
     margin-top: 63%!important;
       height: 10em!important;
       width: 8em!important;
    }
    
    .card-img-overlay{
        margin-top: -10%!important;
    }




}




.navbar{
    background-color:rgba(240, 240, 240, 0.514)!important;
}
.nav-link{
    color:white!important;
    font-weight: bold!important;
}

 .navbar .logo img  {
  height:3.5em!important;
  
}



