
html{
    height: 100%;
 }
 body{
     /* background-color:rgb(255, 255, 255)!important; */
     background-image: url("../img/BAMBOO\ TORREFIE.jpg");
     background-repeat: repeat;
     background-size: cover;
 }

.p{
    margin-left: 20px;
}

 /* ARCHITECTURE DESTOCK */
 /* NARBAR */
.navbar{background-color:rgb(42, 41, 41)!important;
}
.nav-link{color:rgb(203, 203, 235)!important;font-weight: bold!important;
}
.container .navbar {background-color: rgba(40, 71, 47, 0.404)!important;
}

.section0{height: 80px;}
.section1{height: 700px;background-color: rgb(209, 153, 153);color: white;padding-top: 0px;margin-bottom: 0px;
    border-radius: 10px;
    padding: 2px;
    background-repeat: no-repeat;
   background-size: cover;
    background-image:url("../img/img-competence/2.jpg");

}

.sectionA{ background-color: rgba(164, 230, 144, 0.479);color: rgb(26, 20, 20);border:rgb(52, 80, 117) solid 3px;margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;}
    

.sectionC{ background-color: rgba(85, 127, 148, 0.698);color: white;border:rgb(52, 80, 117) solid 3px;margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;}

.sectionB{background-color:  rgba(120, 204, 119, 0.692); border: rgb(41, 38, 38) solid 1px;margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    /* font-size: 90%; */
    color: rgb(27, 16, 80);
}
.sectionD{ background-color: rgba(216, 34, 17, 0.596);color: rgb(255, 255, 255);border:rgba(52, 80, 117, 0.507) solid 3px;margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;}

.sectionE{ background-color: rgba(4, 2, 7, 0.472);color: white;border:rgba(52, 80, 117, 0.507) solid 3px;margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;}

.boxA{
    border: white;height: 200px;
}

.boxB{ height: 200px;/* background-color: yellow; */
    }

.redline{background-color: rgb(64, 119, 119);height: 3px;}

 /*FIN ARCHITECTURE DESTOCK */








 /* POLICE DESTOCK */



h1{color: rgb(91, 160, 133);font-size:200%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive; 
}

.h2{color: rgb(49, 28, 18);font-size:400%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive;
    text-shadow: #ffffff 1px 10px 10px; 
}

.h3.mt-3{color: rgb(246, 243, 242);font-size:190%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive;
    text-shadow: #ffffff 1px 10px 10px; 
}
.section1, h2{color: rgb(29, 29, 29);font-size:100%!important;}


h2{color: rgb(29, 29, 29);font-size:300%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive; 
}

 /*FIN POLICE DESTOCK */



.img-phone{
    height: 15rem!important;
}







#cat{
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 10px;
}
/* **************************************************************** */
/* **************************************************************** */

.imgsection{
    width: 444px!important;
    height: 444px!important;
}



/* @import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap'); */
/* **************************************************************** */
/* **************************************************************** */
.box2-image{
    background-color: rgb(0, 0, 0)!important; 
}

.box2-image h2{
    color:rgb(255, 255, 255);
    font-size: 400%!important;
    /* font-family: 'Montserrat', sans-serif!important; */
    }

    




.box2{
  display: flex;
  min-width: 600px;
  max-width: 900px;
  height: 400px;
  margin: 1rem auto; 
}
/**Parametrage des img2**/
.image2{
   min-width: 60px;
   margin: 10px;
   cursor: pointer; /*cureur pointeur pour montrer que l'élément est cliquable avec la souris*/
   /**pour faire un effet de smooth*/
   transition: .7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
   /*overflow caché pour tout ce qui dépassera*/
   overflow: hidden;
   position: relative; /**pour mettre les élément an absolu par la suite à l intérieur**/
}
/**zoom de l image2 avec la classe active2**/
.image2.active2{
    flex-grow: 100;
    max-width: 600px; /**pour pas que l'image2 s'élargisse à l infini**/
    margin:0px;
    border-radius: 7px;
    background-size: auto 100%;
}
/**image NON ACTIVE grow à 1*/
.image2:not(.active2){
    flex-grow: 1;
    border-radius: 5px;
}
.text-container2{
    width: 100%; /**taille de son parent**/
    height: 400px; /**taille de son parent**/
    padding: 2rem;
    /* faire aparaitre le texte depuis le bas en le rendant de plus en plus opaque*/
    visibility: hidden; /**on le cache au départ**/
    transform: translateY(300px); /**on place le text en bas**/
    opacity: 0;
    transition: all .4s;
    background: linear-gradient(354deg, black 0%, 
    transparent 72%);
    color: white;
    overflow: hidden;
}
/**parametrage text2**/
.text2{
    position: absolute;
    bottom: 5rem;
}
.text2 p{
    color: white;
}
.active2 .text-container2{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
/* **************************************************************** */

.img-competence{
   width: 30px;
   height: 30px;
}

.img-competence-homme{
    width: 80%;
    height: 80%;
    border-radius: 20px;
 } 

.img-environement{
    width: 35px;
    height: 35px;
 }
/* **************************************************************** */
.my-env{
    border-bottom: blueviolet 2px solid;
}
.my-env-title {
    /* float: left; */
    /* width: 24%; */
    padding: 6px 4px;
    font-weight: 600;
    color:brown;
}

footer{
    background-color: black!important;
}


.navbar .mbr-iconfont {
	font-size: 2rem !important;
	color: rgb(13, 144, 31)!important;


}



/* SECTION GALLERI */
.portfolio .img-rounded {
    width: 25%;
    margin: 20px 15px;
}

.portfolio .img-rounded:hover {
    transform: scale(1.20);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    opacity:0.7;
}   








.skillbar .sb-name {
    float: left;
    background-color: #f5f5f5;
    color: brown;
    font-weight: 700;
    min-width: 20%;
    height: 100%;
    padding-left: 4px;
    padding-right: 2px;
    vertical-align: middle;
    border: 1px solid #eee;
        border-right-color: rgb(238, 238, 238);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.skillbar, .skillbar .sb-level {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
}
.skillbar .sb-name{
    color:brown;
    margin-left: 0.9rem;
}
.skillbar  .progress {
    margin-top: 0.4rem;
    background-color: #d6e9f7;
    /* width: 95%!important; */
}







.demotext {
position: relative;
    font-size: 1.5rem!important;
  
    color: #2b1277;
   
    text-shadow: rgb(0, 0, 0) 0px 0px 2px, rgb(0, 0, 0) 0px 0px 10px, rgb(143, 148, 168) 0px 0px 15px, #e6e6fb 0px 0px 20px, #e2e2ee 0px 0px 30px, #2a52a8 0px 0px 40px, #dfc599 0px 0px 50px, #241f2e 0px 0px 75px;
    color: #16024d;
    background-color:rgba(29, 58, 73, 0.466)!important;
 
 
        font-family: 'Monoton', cursive;

    font-family: 'Special Elite', cursive;
    }

    .demotext2 {
        position: relative;
       
        color: #a59898;
        background: #000000;
        text-shadow: rgb(32, 30, 30) 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 10px, #0003b9 0px 0px 15px, #0d00c2 0px 0px 20px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 15px;
        color: #9de694;
        background-color:rgb(37, 36, 36)!important;
        }












/* ANIMATION */
/* https://www.theappguruz.com/tag-tools/web/CSSAnimations/ */



        .fadeInRight {
            -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes fadeInRight {
            0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            }
            100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            }
            }
            @keyframes fadeInRight {
            0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            }
            100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
            }
            } 






            @-webkit-keyframes fadeInRight {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                }
                @keyframes fadeInRight {
                0% {
                opacity: 0;
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                }
                100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
                }
                } 









                .bounceIn {
                    -webkit-animation-name: bounceIn;
                    animation-name: bounceIn;
                    -webkit-animation-duration: .75s;
                    animation-duration: .75s;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    }
                    @-webkit-keyframes bounceIn {
                    0%, 20%, 40%, 60%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    }
                    0% {
                    opacity: 0;
                    -webkit-transform: scale3d(.3, .3, .3);
                    transform: scale3d(.3, .3, .3);
                    }
                    20% {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    }
                    40% {
                    -webkit-transform: scale3d(.9, .9, .9);
                    transform: scale3d(.9, .9, .9);
                    }
                    60% {
                    opacity: 1;
                    -webkit-transform: scale3d(1.03, 1.03, 1.03);
                    transform: scale3d(1.03, 1.03, 1.03);
                    }
                    80% {
                    -webkit-transform: scale3d(.97, .97, .97);
                    transform: scale3d(.97, .97, .97);
                    }
                    100% {
                    opacity: 1;
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    }
                    }
                    @keyframes bounceIn {
                    0%, 20%, 40%, 60%, 80%, 100% {
                    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                    }
                    0% {
                    opacity: 0;
                    -webkit-transform: scale3d(.3, .3, .3);
                    transform: scale3d(.3, .3, .3);
                    }
                    20% {
                    -webkit-transform: scale3d(1.1, 1.1, 1.1);
                    transform: scale3d(1.1, 1.1, 1.1);
                    }
                    40% {
                    -webkit-transform: scale3d(.9, .9, .9);
                    transform: scale3d(.9, .9, .9);
                    }
                    60% {
                    opacity: 1;
                    -webkit-transform: scale3d(1.03, 1.03, 1.03);
                    transform: scale3d(1.03, 1.03, 1.03);
                    }
                    80% {
                    -webkit-transform: scale3d(.97, .97, .97);
                    transform: scale3d(.97, .97, .97);
                    }
                    100% {
                    opacity: 1;
                    -webkit-transform: scale3d(1, 1, 1);
                    transform: scale3d(1, 1, 1);
                    }}


                    .fade {
                        background-color: brown;
                        margin: 50px;
                        padding: 50px;
                        background-color: lightgreen;
                        opacity: 1;
                      }










































/* ************************************************************************* */
/* ************************************************************************* */
/* query smatphone */

@media all and (max-width: 1024px)
{





  
    #cat{
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }

    #imgbox1{
      margin-left:60%!important;
     /* margin-top: 63%!important; */
       height: 10em!important;
       width: 8em!important;
    }
    
    .card-img-overlay{
        margin-top: -10%!important;
    }

/* **************************************************************** */

.imgsection{
    width: 350px!important;
    height: 200px!important;
    /* margin-left: 20%;
    margin-top: 5%; */
}
/* **************************************************************** */
.box2-image{
    background-color:rgba(90, 72, 72, 0.267)!important; }

.box2{
  display: flex;
  min-width: 0px;
  max-width: 100vh;
  height: 270px;
  margin: 1rem auto; 
}
/**Parametrage des img2**/
.image2{
   min-width: 6px;
   margin: 3px;
   cursor: pointer; /*cureur pointeur pour montrer que l'élément est cliquable avec la souris*/
   /**pour faire un effet de smooth*/
   transition: .7s cubic-bezier(0.05, 0.61, 0.41, 0.95);
   /*overflow caché pour tout ce qui dépassera*/
   overflow: hidden;
   position: relative; /**pour mettre les élément an absolu par la suite à l intérieur**/
}
/**zoom de l image2 avec la classe active2**/
.image2.active2{
    flex-grow: 100;
    max-width: 700px; /**pour pas que l'image2 s'élargisse à l infini**/
    margin:0px;
    border-radius: 5px;
    background-size: auto 100%;
}
/**image NON ACTIVE grow à 1*/
.image2:not(.active2){
    flex-grow: 1;
    border-radius: 5px;
}
.text-container2{
    width: 100%; /**taille de son parent**/
    height: 340px; /**taille de son parent**/
    padding: 0.4em;
    /* faire aparaitre le texte depuis le bas en le rendant de plus en plus opaque*/
    visibility: hidden; /**on le cache au départ**/
    transform: translateY(300px); /**on place le text en bas**/
    opacity: 0;
    transition: all .4s;
    background: linear-gradient(354deg, black 30%, 
    transparent 90%);
    color: white;
    overflow: hidden;
}
/**parametrage text2**/
.text2{
    position: absolute;
    bottom: 3.8rem;
}
.text2 p{
    color: white;
}
.active2 .text-container2{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.mbr-iconfont .fa, .fas  {
	font-size: 1rem !important;
	color: #250101!important;
	margin: 1rem;
	padding-right: 1rem;
}

/* SECTION GALLERI IMAGES MES SKILSS */
.portfolio .img-rounded {
    width: 40%;
    margin: 15px 10px;
}

.portfolio .img-rounded:hover {
    transform: scale(1.20);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    opacity:0.7;
}   








}
/* Fin paramètre média queries */


/* CSS SNIPET SKILL */
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
    color: white;
}



.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}

.vcenter {
    margin: auto;
}

.mbr-fonts-style {
    color: rgb(51, 38, 38);
}


h1{
      
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
    font-size: 350%!important;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}


















































    /* QUERIES */

    /* PETIT ECRAN SMARTPHONE */
    @media all and (max-width: 320px){

        .mbr-fonts-style{
            font-size: 3px!important;
        }

    

        
 

     
    }


    /* MOYEN ECRAN SMARTPHONE*/
    @media all and (max-width: 990px ){
        /* Supprime le visuel de l tattache sur petit écran en début de page */
        .attache2{
            background-image: url("../img/icons/attache.svg");
            background-repeat: no-repeat;
            position: relative;
            float: right;
            width: 9vh!important;
            /* height: 10px; */
           margin-top: 10px;
            left: 2px;
      
        }

        .attache{
            background-image: url("../img/icons/attache.svg");
            background-repeat: no-repeat;
            position: relative;
            float: right;
            width: 9vh!important;
            /* height: 10px; */
           margin-top: 10px;
            left: 2px;
        }

/* police */

.h2{color: rgb(49, 28, 18);font-size:190%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive;
    text-shadow: #ffffff 1px 10px 10px; 
}

.h3{color: rgb(246, 243, 242);font-size:190%!important;font-family: 'Monoton', cursive;font-family: 'Special Elite', cursive;
    text-shadow: #ffffff 1px 10px 10px; 
}

.demotext {
    position: relative;
        font-size: 1.1rem!important;
      
        color: #2b1277;
       
        text-shadow: rgb(0, 0, 0) 0px 0px 2px, rgb(0, 0, 0) 0px 0px 10px, rgb(143, 148, 168) 0px 0px 15px, #e6e6fb 0px 0px 20px, #e2e2ee 0px 0px 30px, #2a52a8 0px 0px 40px, #dfc599 0px 0px 50px, #241f2e 0px 0px 75px;
        color: #16024d;
        background-color:rgba(29, 58, 73, 0.466)!important;
     
     
            font-family: 'Monoton', cursive;
    
        font-family: 'Special Elite', cursive;
        }

   

        /* IMAGES */
        .img-phone{
            height: 12rem!important;
        }


      



    }
    /*FIN MEDIA MOYEN ECRAN SMARTPHONE*/
    @media all and (max-width: 400px ){
  
    }

    /* ECRAN TABLETTE */

    /* ECRAN PETIT PC */

    /* ECRAN CLASSIQUE */

    /* GRAND ECRAN */

    






  

    .attache{
        background-image: url("../img/icons/attache.svg");
        background-repeat: no-repeat;
        position: relative;
        float: right;
        width: 80px;
        height: 80px;
        bottom: 40px;
        right: 30px;
      
    }

    .attache2{
        background-image: url("../img/icons/attache.svg");
        background-repeat: no-repeat;
        position: relative;
        float: right;
        width: 80px;
        height: 80px;
        bottom: 65px;
        right: 30px;
    }

